<!DOCTYPE html>

<html>
  <head>
    <title>Organism Gc Nano</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
  </head>

  <body>
   <table>
    <tr><td><font size="30">{{gc}}%</font></td></tr>
    <tr><td><font color="#daf1f5">{{title}}</font></td></tr>
  </body>
</html>
