<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8'>
    <title>Protein EC Number</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stanza/assets/nanostanza.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script src="/stanza/assets/nanostanza.js"></script>
  </head>

  <body>
    <h1>Protein EC Number</h1>
    <div id="main-view">
      <p class="single-text-view text-size-adjust text-size-middle">{{features.first.ec_number}}</p>
    </div>
  </body>
</html>
